<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Node Web Server</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        <p>Text Here</p>

        <footer>
            Copyright {{currentYear}}
        </footer>
    </body>
</html>